build/
build-*/
out/
CMakeCache.txt
CMakeFiles/
Testing/
Makefile
cmake_install.cmake
compile_commands.json
*.slo
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.out
*.app
*.user
*.user.*
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
.DS_Store
Thumbs.db
craftpix-net-*/
